In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# Solution 1>
# Database : 

# A database is a structured collection of data electronically stored and organized in a way that allows for easy access, retrieval, manipulation, and analysis. 
# It's like a giant digital filing cabinet that efficiently stores and manages information.

# SQL (Structured Query Language) Databases:

# Structure: Relational databases with a fixed schema (predefined structure) organized in tables with rows and columns.
# Data: Structured data (tabular format) like customer information, financial records, or inventory.
# Access: Uses SQL, a standardized language, for querying and manipulating data.
# Strengths: Excellent for complex data relationships, ACID compliance (ensures data integrity), and well-suited for traditional business applications.
# Weaknesses: Can be less flexible for unstructured data and may struggle with horizontal scaling (adding more servers) for massive datasets


# NoSQL (Not Only SQL) Databases:

# Structure: Non-relational databases with flexible schema, allowing for various data formats like documents, key-value pairs, graphs, or wide-column stores.
# Data: Often handles unstructured data (e.g., emails, social media posts, sensor readings) or data with frequently changing structures.
# Access: Uses various query languages specific to each NoSQL database type.
# Strengths: Highly scalable (adding more servers for massive datasets is easier), flexible for diverse data formats, and good for big data applications.
# Weaknesses: May offer weaker consistency guarantees compared to SQL and can be less intuitive for complex data relationships.

In [3]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [7]:
# Solution 2>

# DDL stands for Data Definition Language. It's a subset of SQL specifically used to define and manipulate the structure of database objects like
# tables and views.Unlike DML (Data Manipulation Language) that deals with actual data in the tables, DDL focuses on creating, modifying,
# and removing the database schema itself.

# 1. CREATE: Used to define a new table or view within the database.

# Example : 
# CREATE TABLE Customers (
#     customer_id INT PRIMARY KEY,
#     name VARCHAR(255) NOT NULL,
#     email VARCHAR(255) UNIQUE
# );

# 2. DROP: Permanently removes a table or view from the database. Use with caution as dropped objects cannot be easily recovered.

# Example : 
# SQL
# DROP TABLE Old_Orders;

# 3. ALTER: Modifies the structure of an existing table, allowing you to add, remove, or change columns, constraints, or other table definitions.

# Example:
# SQL
# ALTER TABLE Products ADD COLUMN stock_count INT DEFAULT 0;

    
# 4. TRUNCATE: Quickly removes all rows of data from a table, but preserves the table structure itself. 
#    It's generally faster than using DELETE without a WHERE clause, but cannot be rolled back.

# Example :    
# SQL
# TRUNCATE TABLE Carts;

In [8]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [9]:
# Solution 2>

# DML stands for Data Manipulation Language. It's another crucial part of SQL that deals with modifying the actual data stored within your database tables. 
# Unlike DDL (Data Definition Language) that focuses on the structure (tables, views), DML allows you to interact with the data itself through:
    
# INSERT: Adds new rows of data to a table.

# Example:
# INSERT INTO Customers (customer_id, name, email)
# VALUES (1001, 'John Doe', 'john.doe@email.com');

# UPDATE: Modifies existing data in a table based on a specific condition.

# Example:
# UPDATE Products
# SET price = price * 1.1  -- Increase price by 10%
# WHERE category = 'Electronics';

# DELETE: Removes existing rows of data from a table based on a condition.

# Example:
# DELETE FROM Orders
# WHERE order_date < '2024-01-01';

In [10]:
# Q4. What is DQL? Explain SELECT with an example.

In [11]:
# Sloution 4>

# DQL stands for Data Query Language. It's the component of SQL that allows you to retrieve and manipulate data from your database tables. 
# Unlike DML (Data Manipulation Language) that modifies data, DQL focuses on extracting specific information for analysis or presentation.

# The primary DQL statement is:

# SELECT: Used to retrieve data from one or more tables. You can specify which columns (data points) you want and filter the results based on conditions.

# Example : 
    
# SELECT customer_id, name, email
# FROM Customers
# WHERE city = 'New York';

In [12]:
# Q5. Explain Primary Key and Foreign Key

In [14]:
# Solution 5>

# Primary keys and foreign keys are essential concepts in relational database design that ensure data integrity and establish relationships between tables. 

# Primary Key:

# A column (or a combination of columns) within a table that uniquely identifies each row.
# No two rows can have the same value for the primary key.
# Enforces data integrity by preventing duplicate records.
# Often an auto-incrementing integer (e.g., ID) or a unique identifier (e.g., social security number).
# Foreign Key:

# A column (or set of columns) in one table that references the primary key of another table.
# Creates a link between related tables, establishing a parent-child relationship.
# Ensures data consistency by preventing orphaned records (child table entries referencing non-existent rows in the parent table).

In [15]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [19]:
# Solution 6>

# Code : 

# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
# mycursor.execute("insert into test2.test_table values(123,'anand', 456 , 564.34, 'chaubey')")
# mydb.commit()
# mydb.close()

# Explanation : 

# Import: We import the mysql.connector library to connect to MySQL from Python.
# Connection: We establish a connection to the MySQL database using mysql.connector.connect(), providing your hostname, username, password, and database name.
# Cursor: We create a cursor object using mydb.cursor(). This cursor acts as an intermediary between your Python code and the database,
# allowing you to execute SQL statements.
# Execute: We define an SQL query (replace with your desired query) and execute it using mycursor.execute(sql). This sends the query to the database
# for processing.
# commit : using commit at the end, we ensure that changes are applied successfully and become permanent in the database.
# Close: Finally, we close the database connection using mydb.close(). This is essential to release resources and avoid connection leaks

In [20]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [21]:
# Solution 7>

# FROM & JOINs: Identify tables and combine data (if joining).
# WHERE: Filter rows based on conditions.
# GROUP BY (Optional): Group rows by columns.
# HAVING (Optional): Filter groups based on aggregate values.
# SELECT: Choose the columns to retrieve (can involve calculations).
# DISTINCT (Optional): Remove duplicate rows.
# ORDER BY (Optional): Sort the results.
# LIMIT/OFFSET (Optional): Control the number and starting point of retrieved rows (pagination).