# Q1. What are the characteristics of the tuples? Is tuple immutable?

In [20]:
# Ans. tuples are similar to list, it has all the feature as list except mutability.
# tuple can store integer/float/string/complex number/boolean value/even a tuple itself or any list inside.
# it is represented by closed small bracket/closed parenthesis () and all the elements were presented by putting comma after each other.
# tuple are imutable in nature you can't change element in tuple.

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

In [18]:
"""Ans. There are only two tuple methods count() and index() that a tuple object can call. In Python, tuples are immutables. Meaning, you cannot change 
items of a tuple once it is assigned but list are mutable in nature that's why tuples have only two in-built methods as compared to list"""

# ex. 
#count : 
t = (1,2,3,4,5,6,7,8,9,True)

# here count of 1 is in result shows 2 because in tuple count function value of True is also taken as 1 
t.count(1)

2

In [9]:
# ex. 
#index : 
t = (1,2,3,4,5,6,7,8,9,True)
 
t.index(5)

4

# Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [15]:
#Ans. A Set doesn't have dublicates value 
#Ex is below

In [17]:
L1= [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
result =[]
for i in L1:
    if i not in result:
        result.append(i)

#printing list after removing dublicates

print("The list after removing dublicates are :" + str(result))

The list after removing dublicates are :[1, 2, 3, 4]

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [1]:
# Ans4.

s1= {1,2,3,4,5,6}
s2= {5,6,7,8,9,0}

In [18]:
# Update function helps in updating the exsisting set with the union of itself and others => 
# here result can be seen as distinct elements of (exsisting set + Union of itself and others) aplied on exsisting set on which update() fuction is applied.
# Hence update() fuction applies changes on the exsisting set 

s3 = s1.update(s2)

In [8]:
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
s2

{0, 5, 6, 7, 8, 9}

In [11]:
s3

In [13]:
# union function hepls in updating the new set as union of sets 
# here result can be seen as dictinct elements between sets which goes under union() fucntion. But in this function primary sets will be remain as it is.

s1= {1,2,3,4,5,6}
s2= {5,6,7,8,9,0}

s4 = s2.union(s1)

In [14]:
s1

{1, 2, 3, 4, 5, 6}

In [15]:
s2

{0, 5, 6, 7, 8, 9}

In [16]:
s4

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [19]:
#Ans 5.

#Dictionary : It store data values in Key : Value pairs. It is a collection which is ordered, changable and do not allow dublicates.

d = {"name":"Anand",True:False,45:44.95,(1,2,3):(4,5,6)}

In [20]:
d

{'name': 'Anand', True: False, 45: 44.95, (1, 2, 3): (4, 5, 6)}

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

In [23]:
### Ans 6 . Yes we can create nested dictionary , example given below : 

d1 = {"name":"Anand",True:False,45:44.95,(1,2,3):(4,5,6),"new dict":{"c":234,"d":567}}

In [24]:
d1["new dict"]

{'c': 234, 'd': 567}

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] 
## dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [28]:
### Ans 7. 

dict1 = {'language':'Python','course':'Data Science Masters'}

In [29]:
dict1.setdefault("topics",["Python","Machine Learning","Deep Learning"])

['Python', 'Machine Learning', 'Deep Learning']

In [30]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
## dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [31]:
### Ans 8. Three view object in dictionaries are keys, values and items (i.e is the name value pair)

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [32]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [33]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [34]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])